* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(130, 147, 165, 0.568);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cuerpo {
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 25px;
    margin: 10px auto 0;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 8px;
}
.cuerpo h2 {
    background-color: rgba(213, 223, 233, 0.637);
    color: #21cdd3;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
}
.cuerpo h4 {
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
}
.input_grupo {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.input_box {
    width: 100%;
    margin-right: 12px;
    position: relative;
}
.input_box:last-child {
    margin-right: 0;
}
.input_box .nombre{
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: aliceblue;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: rgb(0, 0, 0);
}
.input_box .nombre:focus, .fn:focus{
    -webkit-box-shadow: 0 0 2px 1px #21cdd3;
    -moz-box-shadow: 0 0 2px 1px #21cdd3;
    box-shadow: 0 0 2px 1px #21cdd3;
    border: 1px solid #21cdd3;
}
.input_box .icono {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(213, 223, 233);
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid black;
    border-right: none;
}
.nombre:focus+.icono {
    background-color: #21cdd3;
    color: rgb(255, 255, 255);
    border: 1px solid #21cdd3;
    border: none;
    transition: 1s;
}
.fn {
    width: 32.5%;
    padding: 14px;
    text-align: center;
    background-color: aliceblue;
    transition: 0.3s;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}
.radio {
    display: none;
}
.input_box label {
    width: 50%;
    padding: 13px;
    background-color: aliceblue;
    display: inline-block;
    float: left;
    text-align: center;
    /*border: 0px solid rgb(0, 0, 0);*/
}
.input_box label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: none;
}
.input_box label:last-of-type {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: none;
}
.radio:checked+label {
    background-color: #21cdd3;
    transition: 0.5s;
}
.bot button {
    width: 450px;
    background-color: rgba(72, 77, 82, 0.616);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    border-right: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.bot button:hover {
    cursor: pointer;
    background-color: #21cdd3;
}